@import "tailwindcss";

@font-face {
    font-family: 'Poppins';
    src: url('/Font/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url('/Font/Inter-18pt-Regular.ttf') format('truetype');
    font-weight: 400;
}